<div id = "content">
    <div id = "contentbox1">
      <h2>New releases:</h1>
      
    </div>
    <div id = "basket">         
    </div>
    <div id = "contentbox1">          
    </div>
  </div>    
